body {
  background: grey; }
  body .header {
    background: aqua; }
    body .header .navbar {
      background: blue; }
      body .header .navbar .navbarul {
        display: flex;
        justify-content: center; }
        body .header .navbar .navbarul li {
          margin-left: 20px;
          font-size: 20px;
          color: red;
          list-style: none; }
          body .header .navbar .navbarul li:hover {
            font-size: 50px; }
          body .header .navbar .navbarul li:last-child {
            color: white; }
